@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}
body{
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
}
header{
    background-color: rgb(223, 192, 133);
}
.navbar-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 150px 60px 150px;
}
.navbar-section h2{
    font-size: 2rem;
    font-weight: 700;
}
.nav-link{
    display: flex;
    gap: 20px;
}
.navbar-section li{
    list-style: none;
}
.navbar-section li a{
    text-decoration: none;
}

 /*banner section*/
.banner-section{
    text-align: center;
    margin: 0px 150px 50px 150px;

}
.banner-img img{
    width: 100%;
}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.banner-section h1, p, button{
    margin-bottom: 20px;
}
.btn{
    background-color: rgb(164, 107, 2);
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    border: none;
    padding: 10px;
    border-radius: 15px;
}

/* media query */

@media screen and (max-width:576px) {
    .navbar-section{
        flex-direction: column;
    }
    .nav-link{
        flex-direction: column;
    }
    .banner-section{
        margin: 0;
        padding: 10px;
    }

}
/*feature section*/
.feature{
    margin:80px 170px 100px 170px ;
    display: flex;
    gap: 30px;
    align-items: center;
}
.feature-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}
.feature-img img{
    width: 100%;
}
.feature-con{
    max-width: 450px;
    margin: auto;
}
@media screen and (max-width:576px) {
    .feature{
        margin: 0px;
        flex-direction: column;
    }
    .feature-img{
        grid-template-columns: repeat(1, 1fr);
    }
    .feature-con{
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
}
/*customer section*/
.customer{
    max-width: 1280px;
    margin:80px 150px 50px 150px ;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
   

}
.customer-img{
    width:calc(50% - 100px);
}
.customer-img img{
    width: 100%;
}
.customer-text h1{
    color: rgb(196, 55, 55);
}
.customer-text{
    width: calc(50% - 100px);
}
.card{
    border-radius: 10px;
    border: 2px tomato;
    box-shadow: 0px 4px 30px 0px;
    padding: 20px;
   margin-bottom: 5px;
}
#btn-1{

    margin-top: -80px;
    margin-left: -60px;
}
@media screen and (max-width:576px) {
.customer{
    flex-direction: column;
    margin: 0px;
    padding: 10px;
    gap: 20px;
} 
.customer-img img{
    margin-top: 10px;
} 
#btn-1{
    text-align: center;
    margin: 0px;
    padding: 20px;
}  
.customer-img{
    width: 100%;
}
.customer-text{
    width: 100%;
}
}
/*fact section*/
.fact{
    margin:150px 150px 50px 150px;
   
   
}
.fact h1,p{
     align-items: center;
    text-align: center;
    margin-bottom: 30px;
}
.all-icons{
    display: flex;
   justify-content: space-between;
    gap: 30px;
    margin-top: 50px;
}
.icon{
    background-color: aqua;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow:0px 4px 30px 0px ;
    
}
@media screen and (max-width:576px) {
    .all-icons{
        flex-direction: column;
        padding: 2px;
    }
    .fact{
        margin:0px;
    }
}
/*sponsor*/
.sponsors{
    margin: 150px 150px 50px 150px;
    justify-content: center; 
    align-items: center;

}
.sponsors h1, p{
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}
.spons-logo{
   display: flex;
   justify-content: space-between; 
   gap:auto;
}
@media screen and (max-width:576px) {
    .sponsors{
        margin: 50px 0px 0px 0px;
        flex-direction: column;
    }
    .spons-logo{
       flex-direction: column;
       gap: 5px;
    }

   
    
}
/*footer*/
.footer{
    margin: 150px 150px 50px 150px;
    background-color: bisque; 
   
}
@media screen and (max-width:576px) {
    .footer{
        margin: 50px 0px 0px 0px;
        
    }
    
    
}
